#curriculum h1 {
    margin: 20px 0;
}

.curriculum-list {
    gap: 10px;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

@media screen and (max-width: 1000px) {
    .curriculum-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .curriculum-list {
        grid-template-columns: 1fr;
    }
}

.curriculum-tile {
    position: relative;

    width: 300px;
    height: 250px;

    display: flex;
    flex-direction: column;

    background-color: #252525;

    border-radius: 10px;
}

.curriculum-tile h3 {
    margin: 20px;
}

.curriculum-tile p {
    margin: 10px;
}

.curriculum-tile b {
    padding: 10px;

    background-color: #373737;
    color: hsl(89, 66%, 58%);

    border-radius: 5px;
}

.curriculum-tile a {
    position: absolute;
    bottom: 0;

    margin: 10px;

    width: 280px;
    height: 50px;

    display: grid;
    place-items: center;

    background-color: #373737;
    color: hsl(89, 66%, 58%);

    border-radius: 5px;
}

.curriculum-tile a:hover {
    background-color: hsl(89, 66%, 58%);
    color: #373737;
}
