.cards-panel {
    display: grid;
    gap: 20px;
}

@media (min-width: 1200px) {
    .cards-panel {
        grid: repeat(2, auto) / auto-flow 360px;
    }
}

.card {
    width: 345px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    border-radius: 10px;
}

.card > h1 {
    font-weight: 500;
}

.card > p {
    margin: 20px 0;
}

.card > p > b {
    padding: 5px;

    background-color: #fae0df;
    border-radius: 5px;
}
