#projects h1 {
    margin: 20px 0;
}

#projects a {
    padding: 5px;

    background-color: hsl(213, 100%, 83%);
    color: #373737;

    border-radius: 5px;

    font-size: 15px;
}

#projects a:hover {
    background-color: hsl(213, 80%, 73%);
}

#projects li {
    margin: 20px 0;
}
